<!doctype html>
<html class="no-js " lang="en">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Smiiyi.Az</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link
    href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
    rel="stylesheet"
  />
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
  <link rel="stylesheet" href="../css/darkmode.css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">

    <!-- Custom & Default Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/carousel.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../footer.css">
    <link rel="stylesheet" href="../navbar.css">
    <style>
        .img-rounded {
            width: 250px !important;
            height: 230px !important;
        }

        .banner-widget {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

</head>

<body>
    <header class="header header-normal">
        <div class="nav-container">
            <nav class="navbar navbar-default yamm">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo-normal">
                        <a class="navbar-brand" href="../index.html"><img src="../images/logo.png" width="140"
                                alt="" style="margin-top: -33px !important"></a>
                    </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../index.html">Ana Səhifə</a></li>
                        <li class="dropdown hassubmenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">Haqqımızda <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="../about/adnsu.html">ADNSU Haqqında</a></li>
                                <li><a href="../about/smiiyi.html">SMİİYİ Haqqında</a></li>
                                <li><a href="../about/rector.html">Rektor Haqqında</a></li>
                            </ul>
                        </li>
                        <li><a href="../announcement/">Elanlar</a></li>
                        <li class="dropdown hassubmenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">Müəllimlər <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="../teachers/">Fövqəladə hallar və həyat fəaliyətinin
                                        təhlükəsizliyi </a></li>
                                <li><a href="../teachers/"> İnformasiya texnologiyaları
                                    </a></li>
                                <li><a href="../teachers/">Elektroenergetika mühəndisliyi
                                    </a></li>
                                <li><a href="">
                                        Kimya mühəndisliyi
                                    </a></li>
                                <li><a href="">Texnoloji maşın və avadanlıqlar mühəndisliyi
                                    </a></li>
                                <li><a href="">Neft-qaz mühəndisliyi
                                    </a></li>
                                <li><a href="">Neft-qaz qurğuları mühəndisliyi
                                    </a></li>
                                <li><a href="">Sənayenin təşkili və idarə edilməsi
                                    </a></li>
                                <li><a href="">Geofizika mühəndisliyi
                                    </a></li>
                            </ul>
                        </li>
                        <li class="dropdown hassubmenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">Təkrar Ali Təhsil <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="../tekrar-ali-tehsil/tedris-plani.html">Tədris Planları</a></li>
                                <li><a href="onlayn-mur">Onlayn Müraciət</a></li>
                                <li><a href="../tekrar-ali-tehsil/ixtisaslar.html">İxtisasların Siyahısı</a></li>
                                <li><a href="elektron-jurnal">Müəllimin ELektron Jurnalı</a></li>
                            </ul>
                        </li>
                        <li class="dropdown hassubmenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">Yenidən Hazırlanma <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="../yeniden-hazirlanma/tedris-plani.html">Tədris Planları</a></li>
                                <li><a href="../yeniden-hazirlanma/tedris-qrafiki.html">Tədris Qrafikləri</a></li>
                                <li><a href="../yeniden-hazirlanma/dovlet-imtahan-suallari.html">Dövlət İmtahan
                                        Sualları</a></li>
                                <li><a href="../yeniden-hazirlanma/ixtisaslar.html">İxtisasların Siyahısı</a></li>
                            </ul>
                        </li>
                        <li class="dropdown hassubmenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">Əlaqə<span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="../contact.html">Əlaqə Məlumatları</a></li>
                                <li><a href="../uni-admission.html">Universitetə Qəbul</a></li>
                                <li><a href="komputer-hazirligi">Kompüter Hazırlığı üçün Elektron Qeydiyyat</a></li>
                            </ul>
                        </li>
                        <li class="iconitem"><a class="shopicon" href="../../login"><button
                                    class="btn-nav">İstifadəçi Girişi</button>
                            </a></li>
                    </ul>
                </div>
            </nav>

        </div>
    </header>

    <section class="section db p120">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tagline-message page-title text-center">
                        <h3>Vüqar Abdullayev</h3>
                        <ul class="breadcrumb">
                            <li><a href="./">Müəllimlər</a></li>
                            <li class="active">Vüqar Abdullayev</li>
                        </ul>
                    </div>
                </div>
            </div><!-- end row -->
        </div>
    </section><!-- end section -->

    <section class="section gb nopadtop">
        <div class="container">
            <div class="boxed">
                <div class="row">

                    <div class="sidebar col-md-4">
                        <div class="widget clearfix">
                            <div class="banner-widget">
                                <img src="../upload/vuqar_a.jpg" alt="" class="img-responsive img-rounded">
                            </div>
                        </div>

                        <div class="widget clearfix">
                            <h2 class="widget-title">Vüqar Abdullayev</h2>
                            <div class="post-widget">
                                <div class="media">

                                    <div class="media-body">
                                        <h5 class="mt-0">Vəzifə: Müəllim</h5>
                                    </div>
                                </div>

                                <div class="media">

                                    <div class="media-body">
                                        <h5>Elmi dərəcə: Dosent</h5>

                                    </div>
                                </div>

                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mt-0">E-mail: vuqarabdullayev@gmail.com</h5>

                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mt-0">Telefon: 0120383764</h5>
                                    </div>
                                </div>
                            </div><!-- end post-widget -->
                        </div><!-- end widget -->
                    </div><!-- end sidebar -->

                    <div class="col-md-8">
                        <div class="content blog-list">
                            <div class="blog-wrapper clearfix">
                                <div class="blog-desc-big">
                                    <p class="lead">Təhsil</p>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, hic.</p>

                                </div><!-- end desc -->
                            </div>
                            <div class="blog-wrapper clearfix">
                                <div class="blog-desc-big">
                                    <p class="lead">İxtisas üzrə bacarıqlar</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, ullam?</p>

                                </div><!-- end desc -->
                            </div>
                            <div class="blog-wrapper clearfix">
                                <div class="blog-desc-big">
                                    <p class="lead">İş təcrübəsi</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, consequuntur?
                                    </p>

                                </div><!-- end desc -->
                            </div><!-- end blog -->
                            <div class="blog-wrapper clearfix">
                                <div class="blog-desc-big">
                                    <p class="lead">Dillər</p>
                                    <p>Rus</p>
                                    <p>Azərbaycan</p>
                                    <p>İngilis</p>

                                </div><!-- end desc -->
                            </div><!-- end blog -->
                        </div><!-- end content -->
                    </div>
                </div>
            </div>
        </div>
        <div class="dark-light fabs">
            <i class='bx bx-moon moon fab'></i>
            <i class='bx bx-sun sun fab'></i>
        </div>
    </section>
    </div>
    <footer>
        <ul class="footer">
            <li>
                <a href="http://president.az/">
                    <img src="../images/president.png" alt="">
                    <span>President.az</span>
                </a>
            </li>
            <li>
                <a href="http://heydar-aliyev-foundation.org/az">
                    <img src="../images/fond.png" alt="">

                </a>
            </li>
            <li>
                <a href="http://edu.gov.az/az">
                    <img src="../images/tehsil.png" alt="">

                </a>
            </li>
            <li>
                <a href="http://www.tqdk.gov.az/">
                    <img src="../images/tqdk.png" alt="">

                </a>
            </li>
            <li>
                <a href="http://azerbaijan.az/portal/index_a.html?lang=az">
                    <img src="../images/azer.az.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="http://www.virtualkarabakh.az/">
                    <img src="../images/virtual.png" alt="">
                </a>
            </li>
        </ul>
        <hr>
        <div class="copyright">
            ©&nbsp;2022
        </div>
    </footer>


    <!-- jQuery Files -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/animate.js"></script>
    <script src="../js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.3.4/lib/darkmode-js.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA4HTo9HPHF2ume-57yndwXhxiWNaDBPUM"></script>
    <script src="../js/map.js"></script>
    <script src="../js/darkmode.js"></script>
</body>

</html>